.player-card {
    flex: 0 1 calc(33% - 1em);
    margin: 5px;
}

img {
    float: left;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 5px;
}

 h3 {
     font-size: 1.5em;
     font-weight: bold;
     color: rgb(8, 0, 29);
     /* background-color: rgba(15, 138, 155, 0.603); */
 }

 