




/* NAVIGATION BAR */

.nav-div {
  height: 5vh;
  color: white;
  background-color: black;
  align-items: center;
}


/* Historic Players Container */


/* Openings Container */



/* Selected Openings Container */




