.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* NAVIGATION BAR */

.nav-div {
  height: 5vh;
  color: white;
  background-color: black;
  align-items: center;
}


/* Historic Players Container */

.historic-players-container-div {
  height: 30vh;
  border-style: solid;
}

/* Openings Container */

.openings-container-div {
  height: 30vh;
  border-style: solid;
}

/* Selected Openings Container */

.selected-openings-container-div {
  height: 30vh;
  border-style: solid;
}

/* FOOTER BAR */

.footer-div {
  height: 5vh;
  color: white;
  background-color: black;
}

